root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2

[*.{js,jsx,mjs,cjs,ts,tsx,mts,cts,vue,json}]
indent_size = 2

[*.{scss,sass,css}]
indent_size = 2

[*.blade.php]
indent_size = 2

[{compose.yml,compose.*.yml}]
indent_size = 2

[composer.json]
indent_size = 4
